body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 0px;
}

/* 모바일 화면에서 상단에 위치 */
@media (max-width: 768px) {
    body {
        margin-top: 0px;
    }

    .container {
        margin-top: 0px;
    }
}

/* 컴퓨터 화면에서는 중앙에 정렬 */
@media (min-width: 769px) {
    body {
        justify-content: center;
    }

    .container {
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
