@font-face {
    font-family: 'DOSMyungjo';
    src: url('../fonts/DOSMyungjo.ttf') format('truetype');
}

@font-face {
    font-family: 'Freesentation';
    src: url('../fonts/Freesentation-5Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DOSMyungjo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    width: 375px;
    height: 812px;
    background: url('../images/BackgroundImage.png') lightgray -1.908px 0px / 101.018% 100% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.title-img {
    width: 341.765px;
    height: 193.2px;
    margin-top: 169px; /* 타이틀 이미지와 화면 상단 간격 */
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201.6px;
    padding: 0px 20.16px;
    border-radius: 10.08px;
    background: #FFF;
    box-shadow: 4.032px 3px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-top: 123px; /* 타이틀 이미지와 PLAY 버튼 간격 */
    gap: 12.1px; /* SVG와 PLAY 글자 사이 간격 */
}

.play-icon {
    width: 28.224px;
    height: 28.224px;
    flex-shrink: 0;
}

.play-text {
    color: #A26C1A;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 12px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-family: 'DOSMyungjo';
}

.participants-text {
    color: #000;
    font-family: 'Freesentation';
    font-size: 20.16px;
    font-weight: 500;
    margin-top: 24px; /* PLAY 버튼과 참여자 수 텍스트 간격 */
}

.share-buttons {
    display: flex;
    justify-content: space-between;
    width: 146px;
    margin-top: 16px; /* 참여자 수 텍스트와 하단 공유 버튼 간격 */
    margin-bottom: 154px; /* 공유 버튼과 화면 하단 간격 */
}

.share-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kakao-icon, .link-icon {
    width: 36.288px;
    height: 36.288px;
    flex-shrink: 0;
}

.share-text {
    color: #000;
    font-family: 'Freesentation';
    font-size: 12.096px;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
}

@keyframes slide-down {
    0% {
        transform: translateY(-200%); /* 더 위에서 시작 */
    }
    85% {
        transform: translateY(0); /* 원래 자리로 거의 다 내려옴 */
    }
    100% {
        transform: translateY(-10px); /* 살짝 튕김 */
    }
    100% {
        transform: translateY(0); /* 원래 자리로 쿵 내려옴 */
    }
}
  
.title-img {
    animation: slide-down 1s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
}